    {% load static %} 

    <div class="container-scroller" >

      <nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: ;box-shadow: 10px 10px  10px rgba(0,255,0,0.3);">
        
        <ul class="nav" >
          {% if user.profile_image %}

          <li class="nav-item nav-profile" style="background-color: ;">
            <a href="#" class="nav-link" style="background-color: ;height: 70px">
              <div class="nav-profile-image" style="background-color: ;">
                      <img src="{{user.profile_image.url}}" alt="profile" />
                
                
                <!--change to offline or busy as needed-->
              </div>
              <div class="nav-profile-text d-flex flex-column pr-3" style="background-color: ;">
                <span class="font-weight-medium mb-2" style="background-color: ;">{{user.username}}</span>
                
              </div>
             
            </a>
          </li>
          {% endif  %}



          <li class="nav-item">
            <a class="nav-link" href="{% url 'HomePage' %}">
              <i class="mdi mdi-home menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>




          <li class="nav-item">
            <a class="nav-link" href="{% url 'change-password' %}">
              <i class="mdi mdi-audiobook menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Account Maintenance</span>
            </a>
          </li>




         


            <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#parameters" aria-expanded="false" aria-controls="parameters">
              <i class="mdi mdi-blur-linear menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Parameter</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="parameters">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'SignupPage' %}">Register New User</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/UpdateUser/{{user.id}}">Merchant Configuration</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelProcessConfigPage' %}">Process Config</a>
                </li>

                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelBusinessUnitPage' %}">Business Unit</a>
                </li>

                  <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelLocationCodePage' %}">Location Code</a>
                </li>


               <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelStoreCodePage' %}">Store Code</a>
                </li>


                 <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelStoreBinCodePage' %}">Store BIN Code</a>
                </li>




              </ul>
            </div>
          </li>





  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Materials" aria-expanded="false" aria-controls="Materials">
              <i class="mdi mdi-cake menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Material Maintenance</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Materials">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelUOMPage' %}">UOM</a>



                </li>


                 <a class="nav-link" data-toggle="collapse" href="#Materials" aria-expanded="false" aria-controls="Materials">
                   <span class="menu-title">Stock Maintenance</span>
              <i class="menu-arrow"></i>
            </a>

                   <!-- menu ya ndani -->

             <ul class="nav flex-column sub-menu">
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelStoreCodePage' %}">Stock Code</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AddHotelStoreCode' %}">Upload Stock Code</a>
                </li>
               

                <li class="nav-item">
                  <a class="nav-link" href="#">Reports</a>
                </li>
              </ul>


           <!-- mwisho wa menu ya ndani -->

                </li>





               <a class="nav-link" data-toggle="collapse" href="#Materials" aria-expanded="false" aria-controls="Materials">
                 <span class="menu-title">BOM Maintenance</span>
              <i class="menu-arrow"></i>
            </a>

                <li class="nav-item">
              

   <!-- menu ya ndani -->

             <ul class="nav flex-column sub-menu">
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelBOMPage' %}">BOM Code</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelBOMDetailPage' %}">BOM Detail </a>
                </li>
               

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AddHotelBOMFiles' %}">Upload BOM Code</a>
                </li>
              </ul>


           <!-- mwisho wa menu ya ndani -->






                </li>
              </ul>
            </div>
          </li>









  <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
              <i class="mdi mdi-chart-areaspline menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Sales & Distribution</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="sales">
              <ul class="nav flex-column sub-menu">
               


                 <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
                   <span class="menu-title">Parameter Maintenance</span>
              <i class="menu-arrow"></i>
            </a>

                   <!-- menu ya ndani -->

             <ul class="nav flex-column sub-menu">
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelStoreCodePage' %}">Parameter 1 </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AddHotelStoreCode' %}">Parameter 2</a>
                </li>
               
     </ul>

      <a class="nav-link"  href="{% url 'HotelMyUserPage' %}" aria-expanded="false" aria-controls="sales">
                   <span class="menu-title">Staff Maintenance</span>
              
            </a>




       <a class="nav-link"  href="{% url 'HotelSuppliersPage' %}" aria-expanded="false" aria-controls="sales">
                   <span class="menu-title">Supplier Maintenance</span>
              
            </a>

                </li>











              












               <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
                 <span class="menu-title">Product Maintenance</span>
              <i class="menu-arrow"></i>
            </a>

                <li class="nav-item">
              

   <!-- menu ya ndani -->

             <ul class="nav flex-column sub-menu">
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelProductsCategoriesPage' %}">Category Maintenance </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelProductsPage' %}"> Product Maintenance </a>
                </li>
               

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'UploadHotelProductsPage' %}">Product Upload</a>
                </li>
              </ul>


           <!-- mwisho wa menu ya ndani -->


                </li>

<!-- mwisho wa menu ya nje -->













<!-- mwanzo wa menu ya nje -->

                </li>












<!-- mwanzo wa menu ya nje -->

                </li>





               <a class="nav-link" data-toggle="collapse" href="#sales" aria-expanded="false" aria-controls="sales">
                 <span class="menu-title">Service Request</span>
              <i class="menu-arrow"></i>
            </a>

                <li class="nav-item">
              

   <!-- menu ya ndani -->

             <ul class="nav flex-column sub-menu">
               
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelBOMPage' %}">Service 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelBOMDetailPage' %}"> Service 2 </a>
                </li>
               

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'AddHotelBOMFiles' %}">Service 3</a>
                </li>
              </ul>


           <!-- mwisho wa menu ya ndani -->


                </li>

<!-- mwisho wa menu ya nje -->









              </ul>
            </div>
          </li>









<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#order" aria-expanded="false" aria-controls="order">
              <i class="mdi mdi-cart-outline menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Order</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="order">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelOrdersPage' %}">Orders Sheet</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>










<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#events" aria-expanded="false" aria-controls="events">
              <i class="mdi mdi-briefcase-upload menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Event</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="events">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelEventCodePage' %}">Event Code</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'HotelEventAlertPage' %}">Event Alert</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Report</a>
                </li>
              </ul>
            </div>
          </li>










<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#Reports" aria-expanded="false" aria-controls="Reports">
              <i class="mdi mdi-domain menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">Report</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="Reports">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>








<li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#VAT" aria-expanded="false" aria-controls="VAT">
              <i class="mdi mdi-eject menu-icon" style="color: yellow;font-weight: bold;"></i>
              <span class="menu-title">VAT</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="VAT">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/buttons.html">Parameter 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/dropdowns.html">Parameter 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="pages/ui-features/typography.html">Parameter 3</a>
                </li>
              </ul>
            </div>
          </li>







                </ul>




              <div class="container-fluid page-body-wrapper">
       

        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">


            
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu" style="color: black;font-weight: bold;"></i>
            </button>


            

         {% if user.profile_image %}

            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              <li class="nav-item dropdown d-none d-xl-flex border-0">
              
              </li>
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  
                  <img class="nav-profile-img mr-2" alt="" src="{{user.profile_image.url}}" />
                  
                  <span class="profile-name">{{user.username}}</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                  
                  <a class="dropdown-item" href="{% url 'LogoutPage' %}">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            {% endif %}

            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>


</div>
      </nav>
