
{% extends 'TemplatesApp/base.html' %}
{% load static %}




{% block content %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Upload</title>


         <!---jqeury css link---->
     <link rel="stylesheet" href="{% static 'assets/jqueryui/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'assets/jqueryui/jquery-ui.structure.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/jqueryui/jquery-ui.structure.css' %}">
    <link rel="stylesheet" href="{% static 'assets/jqueryui/jquery-ui.theme.min.css' %}">
     <link rel="stylesheet" href="{% static 'assets/jqueryui/jquery-ui.theme.css' %}">

 


    <style type="text/css">


    </style>
    
  </head>
  <body>
    



{% include 'TemplatesApp/sideBar.html' %}




<div class="main-panel">
          <div class="content-wrapper">








            <div class="page-header">
              <h3 class="page-title">Upload Products</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    
                      {% if messages %}
    {% for message in messages %}
     

          <div class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: green;">
  <strong style="font-size: 16px;color: white;">{{message}}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="color: red;"></button>
</div>
    {% endfor %}
  {% endif %}
                  



                  </li>
                 
                </ol>
              </nav>
            </div>








          





<!-- mwanzo wa kudisplay food -->










      <section class="mb-4 mt-2" style="box-shadow: -10px 10px  10px rgba(0,0,0,0.3)">
        






   

<!-- mwanzo wa row -->
   <div class="row product-category-row" >
    <!--  <h5 class="product-category-header-text">Food Products</h5>
 -->

<!-- mwanzo wa column -->

<div  class="col-md-3 product-category-columns">
  <center>
    <a href="{% url 'UploadHotelFoodProductsPage' %}">
  <span class="product-category-columns-text"> Food Products</span>
   </a>
   </center>
</div>

<!-- mwisho wa column -->



<!-- mwanzo wa column -->

<div  class="col-md-3 product-category-columns">
  <center>
    <a href="{% url 'UploadHotelDrinksProductsPage' %}">
  <span class="product-category-columns-text"> Drinks Products</span>
   </a>
   </center>
</div>

<!-- mwisho wa column -->




<!-- mwanzo wa column -->

<div  class="col-md-3 product-category-columns">
  <center>
    <a href="{% url 'UploadHotelRoomsProductsPage' %}">
  <span class="product-category-columns-text"> Rooms</span>
   </a>
   </center>
</div>

<!-- mwisho wa column -->



   </div>
<!-- mwisho wa row -->
 

   









   </div>
<!-- mwisho wa row -->

  
       
      </section>















<!-- mwisho wa kudisplay food -->










<!--------------------------PAGINATION-------------------------------------->

 <!--  <br><br>
<div class ="pagination-container">
<center>
 <h2 class="pagination-header"> page {{food.number}} of {{food.paginator.num_pages}}</h2>
{% if food.has_previous %}
<a href="?page=1" class="pagination-link">   &laquo First</a>
<a href="?page={{food.previous_page_number}}"class="pagination-link">Previous</a>
{% endif %}



{% if food.has_next %}
<a href="?page={{food.next_page_number}}" class="pagination-link">Next</a>
<a href="?page={{food.paginator.num_pages}}" class="pagination-link">Last &raquo</a>

{% endif %}

</center>
</div>

 -->






<!-- MWISHO WA PAGINATION -->




    
   </div>
 </div>





<!--jquery code for autocomplete javascriptcode---->
<script src="{% static 'assets/jqueryui/external/jquery/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/jqueryui/jquery-ui.js' %}" type="text/javascript"></script>


   <script >
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskel",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
      

    ];

   $( "#code" ). autocomplete({
    //source: availableTags,
    source: "{% url 'Hotel_search_Code_store_code_autocomplete' %}",
  });


  } );
  
  </script>

   <script >
  $( function() {
    var availableTags = [
      "ActionScript",
      "AppleScript",
      "Asp",
      "BASIC",
      "C",
      "C++",
      "Clojure",
      "COBOL",
      "ColdFusion",
      "Erlang",
      "Fortran",
      "Groovy",
      "Haskel",
      "Java",
      "JavaScript",
      "Lisp",
      "Perl",
      "PHP",
      "Python",
      "Ruby",
      "Scala",
      "Scheme"
      

    ];

   $( "#desription" ). autocomplete({
    //source: availableTags,
    source: "{% url 'Hotel_search_Description_store_code_autocomplete' %}",
  });


  } );

</script>

  </body>
</html>


{% endblock %}